@use "./variables" as *;
@use "./mixins" as *;
// Navbar
.sticky-header {
    position: fixed;
    background: rgba($color-navbar-bg, 0.80);
    backdrop-filter: blur(10px);
    border-bottom: $border;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 1000;

    &.scrolled{
        background: rgba($color-navbar-bg, 0.85);
        box-shadow: 0 4px 30px rgba($color-shadow, 0.4);
    }
}
.header-content {
   @include flexCenter($justify: space-between, $text: left);
    padding: 10px 0;

    // Nav
    nav {
        @include mobile {
            position: absolute;
            right: 20px; 
            top: 65px;
        }

        a {
            display: block;
            &:hover{
                color: $color-navbar-anchor;
                background: rgba($color-navbar-anchor, 0.09);
            }
        }
        ul {
            list-style: none;
            display: flex;
            gap: 10px;

            @include mobile {
                display: none;
                flex-direction: column;
                width: 180px;
                background: $color-nav-dropdown;
                border-radius: 10px;
                padding: 8px;
                box-shadow: 0 8px 30px rgba($color-shadow,0.8);
                border: $border;
            }
        }
    }
    a{
        text-decoration: none;
        color: $color-text-muted;
        padding: 8px 16px;
        border-radius: 8px;
        transition: all 0.3s ease;
        font-size: 0.95rem;
        
        &.active{
            color: $color-navbar-anchor;
            background: rgba($color-navbar-anchor, 0.2);
        }

    }
}
@include mobile {
    .nav-open nav ul { display: flex; }
}

// Dropdown button for Mobile
.menu-toggle {
    @include flexCenter;
    display: none;
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;

    @include mobile {
        display: inline-flex;
    }
    &:focus{ 
        outline: 2px solid rgba($color-navbar-anchor,0.12);
    }
}

.menu-icon {
  position: relative;

  &,
  &::before,
  &::after {
    display: block;
    width: 20px;
    height: 3px;
    background: #94a3b8;
    border-radius: 2px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before { top: -7px; }
  &::after  { top: 7px; }
}

// Logo
.logo {
    @include flexCenter;

    gap: 12px;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateX(5px);
    }
}
.logo-text {
    color: $color-text;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.logo-icon {
    @extend .logo-text;
    @include flexCenter;

    width: 35px;
    height: 35px;
    background: $gradient-scheme;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba($color-shadow, 0.9);
}