@use "./variables" as *;
@use "./mixins" as *;
// Navbar
.sticky-header {
    position: fixed;
    background: rgba($color-navbar-bg, 0.80);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba($color-border, 0.4);
    transition: all 0.3s ease;

    &.scrolled{
        background: rgba($color-navbar-bg, 0.85);
        box-shadow: 0 4px 30px rgba($color-shadow, 0.4);
    }
}

// Dropdown for Mobile
.menu-toggle {
    @include flexCenter;
    display: none;
    @media (max-width: 768px) {
        display: inline-flex;
    }
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;

    &:focus{ 
        outline: 2px solid rgba($color-navbar-anchor,0.12);
    }
}
// .menu-icon {
//     &::before
//     &::after {
//         display: block;
//         width: 20px;
//         height: 2px;
//         background: #94a3b8;
//         border-radius: 2px;
//         position: relative;
//     }
//     &::before
//     &::after { 
//         content: "";
//         position: absolute;
//         left: 0;
//     }
//     &::before {
//         top: -6px;
//     }
//     &::after{
//         top: -6px;
//     }
// }

// What is this Voodoo magic
.menu-icon,
.menu-icon::before,
.menu-icon::after {
    display: block;
    width: 20px;
    height: 2px;
    background: #94a3b8;
    border-radius: 2px;
    position: relative;
}
.menu-icon::before,
.menu-icon::after { content: ""; position: absolute; left: 0; }
.menu-icon::before { top: -6px; }
.menu-icon::after { top: 6px; }

.header-content {
   @include flexCenter($justify: space-between, $text: left);
    padding: 10px 0;
    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 10px;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 15px;
            }
        }
        a{
            text-decoration: none;
            color: $color-text-muted;
            padding: 8px 16px;
            border-radius: 8px;
            transition: all 0.3s ease;
            // position: relative;
            font-size: 0.95rem;
            
            &:hover{
                color: $color-navbar-anchor;
                background: rgba($color-navbar-anchor, 0.09);
            }
            &.active{
                color: $color-navbar-anchor;
                background: rgba($color-navbar-anchor, 0.2);
            }
        }
    }
}

// Logo
.logo {
    @include flexCenter;

    gap: 12px;
    text-decoration: none;
    transition: transform 0.3s ease;
}
.logo-text {
    color: $color-text;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.logo-icon {
    @extend .logo-text;
    @include flexCenter;

    width: 35px;
    height: 35px;
    background: $gradient-scheme;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba($color-shadow, 0.9);
}