// Variables
$color-text: rgb(238, 238, 238);
$color-text-muted: rgb(148, 163, 184);
$color-bg: #111827;
$color-navbar-bg: rgb(10, 15, 28);
$color-navbar-anchor: rgb(34, 139, 255);
$color-border: rgba(107, 115, 123, 0.4);
$color-shadow: black;
$gradient-scheme: linear-gradient(135deg, #1e40af 0%, #5f045f 100%);