@use "./variables" as *;
@use "./mixins" as *;

@mixin homeNavFont($bg: linear-gradient(135deg, #1e40af 10%, $color-bg 50%, #1e40af 90%)) {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-style: italic;
    padding: 0 10px;
    border-radius: 50px;
    background: $bg;
    box-shadow: 0px 4px 10px $color-shadow;
    border: 4px double $color-bg;
    color: $color-text
}

.img-round {
    @include flexCenter;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

// Home page
.home-banner {
    @include flexCenter;
    flex-direction: column;
    max-width: 700px;
    text-align: center;
    margin-bottom: 50px;

    .home-banner-bg {
        @include faded-edge($home-banner-height);

        img {
        width: 100%;
        height: auto;
    }
    }
    .img-profile {
        @extend .img-round;
        width: 1.4*$home-banner-height;
        height: 1.3*$home-banner-height;
        box-shadow: 0 8px 30px $color-shadow;
        position: absolute;
        z-index: 3;
        border: 2px ridge darksalmon;
    }
    h1 {
        @include homeNavFont();
        position: absolute;
        translate: 0 110px;
        z-index: 4;
        font-size: xx-large;
        background-size: 400% 100%;

        animation: gradient-animation 20s ease infinite;
    }
}
@keyframes gradient-animation {
  0% {
    background-position: 0%; /* Start at the left */
  }
  50% {
    background-position: 100%; /* Move to the right */
  }
  100% {
    background-position: 0%; /* Return to the start for a seamless loop */
  }
}

.home-nav {
    @include flexCenter;
    flex-direction: column;
    a {
        @include homeNavFont(linear-gradient(135deg, #1e40af 10%, $color-bg 80%));
        text-decoration: none;
        font-size: x-large;
        margin-bottom: 10px;
        transition: all 0.3s ease;

        &:hover {
        transform: translateX(4px);
    }
    }
}