@use "./variables" as *;
@use "./mixins" as *;

.img-round {
    @include flexCenter;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

// Home page
.img-faded-edge {
    @include flexCenter;
    position: relative;
    height: 150px;
    max-width: 700px;
    margin: 0 auto;
    overflow: clip;

    img {
        width: 100%;
        height: auto;
    }

    &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
        box-shadow: inset 160px 0px 60px -60px $color-bg, inset -160px 0px 60px -60px $color-bg;
        z-index: 1;
    }
}

.home-banner {
    @include flexCenter;
    flex-direction: column;
    max-width: 700px;
    text-align: center;

    .home-banner-bg {
        @extend .img-faded-edge;
        height: $home-banner-height;
    }
    .img-profile {
        @extend .img-round;
        width: 1.2*$home-banner-height;
        height: 1.2*$home-banner-height;
        box-shadow: 0 8px 30px $color-shadow;
        position: absolute;
        z-index: 3;
        border: 2px ridge darksalmon;
    }
    .home-banner-text {
        z-index: 4;
        position: absolute;

        img {
            height: 100%;
            width: 100%;
            fill: blue;
        }
    }
    p {
        position: absolute;
        translate: 0 120px;
        z-index: 4;
        font-size: x-large;
        font-family: "Brush Script MT", "Brush Script Std", cursive;
        font-style: italic;
        padding: 0 10px;
        background: $gradient-scheme;
        border-radius: 50px;
    }
}