// Mixins
@mixin flexCenter($justify: center, $text: center) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    text-align: $text;
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
