@use "./variables" as *;
@use "./mixins" as *;

$card-color: #1e40af;
$card-padding: 10px;
.card-content {
    display: flex;flex-direction:column;
            
    h3::after {
        content: "";
        @include faded-underline($color-text-secondary);
    }
            
    p {
        text-align: left;
        margin-bottom: 10px;
    }
}

.projects-grid {
    @include flexCenter;
    flex-direction: column;
    gap: 20px;

    $min-card-height: 200px;
    .project-card {
        @include flexCenter($justify: left);
        flex-direction: row;
        gap: 30px;
        min-height: 200px;
        height: auto;
        margin-top: auto;
        width: 90vw;
        max-width: 1000px;

        border: 2px outset $card-color;
        background-color: rgba($card-color, 0.25);
        padding: $card-padding;
        border-radius: 15px;
        box-shadow: 4px 4px 10px 4px $color-shadow;

        @include mobile {
            flex-direction: column;
        }

        .project-img {
            $img-padding: 10px;
            padding: $img-padding;
            img {
                height: ($min-card-height - $card-padding - $img-padding);
                width: ($min-card-height - $card-padding - $img-padding);
                overflow: hidden;
                object-fit: cover;
                border-radius: 15px;
                @include mobile {
                    width: 70vw;
                    height: 60vw;
                }
            }
        }

        .project-content {
            @extend .card-content;
            align-items: flex-start;

            @include mobile {
                align-items: center;
            }

            .btn-grid {
                display: flex;
                margin-right: auto;
                gap: 10px;
                
                .btn {
                    border: $border;
                    border-radius: 5px;
                    transition: background 0.3s;
                    padding: 8px 16px;
                    color: $color-text;
                }
                button {
                    @extend .btn;
                    background-color: $card-color;

                    &:hover {
                        background-color: #0b216e;
                    }
                }
                a {
                    @extend .btn;
                    text-decoration: none;
                    background: #374151;
                    font-family: $btn-font;
                    
                    &:hover {
                        background: #1f2937;
                    }
                }
            }
        }
    }
}

.project-modal {
    @include flexCenter;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;

    .modal-card {
        width: 600px;
        max-width: 80vw;
        max-height: calc(100vh - 150px);
        padding: 10px;
        margin-top: 50px;
        background-color: $card-color;
        border: $border;
        border-radius: 20px;
        position: relative;
        overflow-y: auto;

        .close-modal-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
            color: $color-text-muted;
            transition: color 0.3s;
            background-color: transparent;
            border: transparent;

            &:hover {
                color: #000;
            }
        }

        .modal-content {
            @extend .card-content;

            a {
                display: inline-block;
                text-decoration: none;
                color: $color-text;
            }
        }
    }
}
.x-icon {
  width: 24px;
  height: 24px;
}
.hidden {
    display: none;
}