@use "./variables" as *;
@use "./mixins" as *;
@use "./navbar";
@use "./footer";
@use "./home";
@use "./projects";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: $color-text;
    background: $color-bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    button {
        font-family: $btn-font;
        font-size: 1em;
    }
}

header {
    @include flexCenter;

    background: $gradient-scheme;
    height: 200px;
    border-bottom: $border;

    h1 {
        font-size: 2.5rem;
        @include mobile {
            font-size: 2rem;
        }
    }
    p {
        font-size: 1.2rem;
        color: $color-text-muted;
        text-indent: 0%;
        @include mobile {
            font-size: 1rem;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    @extend .container;
    margin-top: 55px;
}

section {
    @include flexCenter;
    margin: 30px auto;
}

main {
  flex-grow: 1;
}

.about-content {
    h2, h3 { position: relative; }

    h2::after {
        content: "";
        @include faded-underline($color-text);
    }

    h3 {
        color: $color-text-secondary; 
        margin-top: 30px; 
    }
    h3::after {
        content: "";
        @include faded-underline($color-text-secondary);
    }

    p {
        text-align: left;
        font-size: 1rem;
        text-indent: 2rem;
        margin-bottom: 0.5rem;
    }
}

.info-card {
    flex-direction: column;
    background: rgba(59, 130, 246, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(59, 130, 246, 0.2);
    padding: 20px;

    h2 {
        @include flexCenter();
        gap: 1em;
        color: $color-text-secondary;
        margin-bottom: 15px;
        font-size: 1.5rem;
        text-align: center;
    }

    a {
        @include flexCenter($justify: left);
        gap: 1em;
        text-decoration: none;
        color: $color-text;
        padding: 5px 0;
        margin-right: auto;
    }

    svg {
        width: 25px;
        height: 25px;
        fill: currentColor;
        position: relative;
    }
}

.img-faded-square {
    @include flexCenter;
        position: relative;
        height: auto;
        width: 600px;
        max-width: 80vw;
        max-height: 80vw;
        margin: 0 auto;
        overflow: clip;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 10px 10px $color-bg;
            z-index: 1;
        }
    img {
        width: 600px;
    }
}
