@use "./variables" as *;
@use "./mixins" as *;
@use "./navbar";
@use "./footer" as foot;
@use "./home";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: $color-text;
    background: $color-bg;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    @include flexCenter;

    background: $gradient-scheme;
    height: 200px;
    border-bottom: $border;

    h1 {
        font-size: 2.5rem;
        @include mobile {
            font-size: 2rem;
        }
    }
    p {
        font-size: 1.2rem;
        color: $color-text-muted;
        @include mobile {
            font-size: 1rem;
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    @extend .container;
    margin-top: 55px;
}

section {
    @include flexCenter;
    margin: 30px auto;
}

main {
  flex-grow: 1;
}